<form [formGroup]="theForm" (ngSubmit)="onSubmit()">
	<div>
		<label for="fname">First Name</label>
		<input type="text" id="fname" placeholder="First Name" formControlName="firstName">
		<div [hidden]="!theForm.controls.firstName.errors?.required || theForm.controls.firstName.pristine" class="alert alert-danger">
			First Name is required
		</div>
	</div>
	<div>
		<label for="lname">Last Name</label>
		<input type="text" id="lname" placeholder="Last Name" formControlName="lastName">
		<div [hidden]="!theForm.controls.lastName.errors?.required || theForm.controls.lastName.pristine" class="alert alert-danger">
			Last Name is required
		</div>
		<div [hidden]="!theForm.controls.lastName.errors?.maxlength || theForm.controls.lastName.pristine" class="alert alert-danger">
			Last Name cannot exceed 5 characters
		</div>
	</div>

	<div formGroupName="address">
		<label>Address</label>
		<div>
			<label for="addr">Street</label>
			<input type="text" id="street" placeholder="Street" formControlName="street">
		</div>
		<div>
			<label for="city">City</label>
			<input type="text" id="city" placeholder="City" formControlName="city">
		</div>
	</div>

	<button type="submit" class="btn btn-default">Submit</button>

</form>

<p>Form Value: {{theForm.value | json}}</p>
<p>Form Dirty: {{theForm.dirty}}</p>
<p>Form Valid: {{theForm.valid}}</p>
