<form #theForm="ngForm">
	<div>
		<label for="fname">First Name</label>
		<input type="text" id="fname" placeholder="First Name" #fn="ngModel" ngModel name="firstName">
	</div>

	<div ngModelGroup="address" #address="ngModelGroup">
		<div>
			<label for="addr">Street</label>
			<input type="text" id="street" placeholder="Street" ngModel name="street">
		</div>
		<div>
			<label for="addr">City</label>
			<input type="text" id="city" placeholder="City" ngModel name="city">
		</div>
	</div>
</form>

<p>Form Value: {{theForm.value | json}}</p>
<p>Form Dirty: {{theForm.dirty}}</p>
<p>FirstName Value: {{fn.value | json}}</p>
<p>FirstName Dirty: {{fn.dirty | json}}</p>
<p>Address Value: {{address.value | json}}</p>
<p>Address Dirty: {{address.dirty | json}}</p>
