<form #theForm="ngForm">
	<div>
		<label for="fname">First Name</label>
		<input type="text" id="fname" placeholder="First Name" #fn="ngModel" ngModel name="firstName"
			required minlength="5">
		<div [hidden]="!fn.errors?.required || fn.pristine" class="alert alert-danger">
			First Name is required
		</div>
		<div [hidden]="!fn.errors?.minlength || fn.pristine" class="alert alert-danger">
			First Name must be at least 5 characters in length.
		</div>
	</div>
	<div>
		<label for="lname">Last Name</label>
		<input type="text" id="lname" placeholder="Last Name" #ln="ngModel" ngModel name="lastName"
			required>
		<div [hidden]="ln.valid || ln.pristine" class="alert alert-danger">
			Last Name is required
		</div>
		<div [hidden]="theForm.controls['lastName']?.valid" class="alert alert-danger">
			Last Name is required
		</div>
	</div>

	<div ngModelGroup="address" #address="ngModelGroup">
		<div>
			<label for="addr">Street</label>
			<input type="text" id="street" placeholder="Street" ngModel name="street">
		</div>
		<div>
			<label for="addr">City</label>
			<input type="text" id="city" placeholder="City" ngModel name="city">
		</div>
	</div>
</form>

<p>Form Value: {{theForm.value | json}}</p>
<p>Form Dirty: {{theForm.dirty}}</p>
<p>Form Valid: {{theForm.valid}}</p>
<p>Form Errors: {{theForm.errors}}</p>
<p>FirstName Value: {{fn.value | json}}</p>
<p>FirstName Dirty: {{fn.dirty | json}}</p>
<p>FirstName Valid: {{fn.valid | json}}</p>
<p>FirstName Errors: {{fn.errors | json}}</p>
<p>Address Value: {{address.value | json}}</p>
<p>Address Dirty: {{address.dirty | json}}</p>
<p>{{fn.errors?.minlength}}</p>

<p>FirstName hasError(required): {{fn.control.hasError('required') | json}}</p>
<p>FirstName hasError(required): {{theForm.controls.firstName?.hasError('required') | json}}<p>FirstName hasError(required): {{theForm.controls['firstName']?.hasError('required') | json}}</p>